* {
  margin-top: 0%;
  margin-bottom: 0;
}
ul {
  margin-bottom: 0%;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(78, 77, 77);
}
.page-header ul {
    align-items: center;
    list-style: none;
    display: flex;
}
.page-header ul li {
    padding-left: 20px;
    padding-right:20px ;
    font-size: 20px;
    color: white;
} 
.fa-github {
    padding-right: 5px;
}
.top-p {
    height: 40rem;
    background-color: red;
}
.page-header {
  color: white;
}
.text-t {
    padding-top: 4rem;
    color: white;
}
.page-header img {
  height: 100px;
}

.top-p {
    background-color: black;
    background-size:cover;      
    backdrop-filter: blur();
}

html {
    height:100%;
    overflow-x:hidden ;
  }
.bg {
    background-color: black;
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%,rgb(47, 47, 47) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }