#dialog {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: white;
  }
  .ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
    color: rgb(255, 255, 255);
    background-color: red;
  }
  .ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    background-color: #090a0f;
  }
  .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-resizable {
    background-color: #090a0f;
  }
  .ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
    background-color: #090a0f;
    padding: 0;
    text-align: center;
  }
  .ui-widget-content {
    border: 0;
  }
  .ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
    border: 0;
  }
  .ui-widget.ui-widget-content {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #df0707,
    0 0 0.8rem #df0707,
    0 0 2.8rem #df0707,
    inset 0 0 1.3rem #df0707; 
  }
  [type=button] {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #df0707,
    0 0 0.8rem #df0707,
    0 0 2.8rem #df0707,
    inset 0 0 1.3rem #df0707;
    background-color: rgb(59,40,40); 
  }
  .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-resizable {
    overflow: hidden;
  }
  .ui-dialog-titlebar-close {
    background-color: #df0707;
    display: none;
  }
  #ui-id-1.ui-dialog-title {
    background-color: black;
  }